.InfiniteScrollTable * {
    box-sizing:border-box;
    text-rendering: optimizeSpeed;
}


.InfiniteScrollTable {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    /* align-items: stretch; */
    /* border-collapse: collapse; */
}

.InfiniteScrollTable .header,
.InfiniteScrollTable .row {
    border-bottom: 1px solid #e3e3ea;
}

.InfiniteScrollTable .header {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* left: 0; */
    /* height: 30px; */
    /* background-color: #ffffff; */
    flex: 0 0 auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
}

.InfiniteScrollTable .body {
    flex: 1 1 auto;
    /* position: absolute; */
    /* top: 30px; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
}

.InfiniteScrollTable .headerCell,
.InfiniteScrollTable .bodyCell {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.InfiniteScrollTable .headerContent,
.InfiniteScrollTable .bodyCell {
    /* min-width: 100px; */
    padding: 5px;
    border-right: 1px solid #e3e3ea;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.InfiniteScrollTable .resizer {
    width: 36px;
    position: absolute;
    top: 0;
    right: -18px;
    bottom: 0;
    cursor: col-resize;
    z-index: 10;
}


.InfiniteScrollTable .resizer.resizing {
    padding-left: 16px;
    padding-right: 16px;
    background-clip: content-box;
    background-color: #4285F4;
}